/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  color: #5b84d7;
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
  font-size: small;
}

a {
  color:inherit;
  font-size: 10px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.small {
  font-size: 10px
}

#edup-desc {
  background-color:#5b84d7;
  color:white;
  height: 100%;
  width: 90%;
  margin: 0;
  vertical-align: middle;
  padding: 50 50;
  display: block;
  border: 1px;
}

.center {
  text-align: center;
  margin: auto;
}

.fieldname {
  color: #79a6d2
}

.header {
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px 20px;
}
